@import "../../styles/colors.scss";
.question {
  text-align: center;
  display: flex;
  flex: 1;
  box-shadow: inset 0px 0px 1px 1rem $lavender;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  &-text {
    font-weight: 700;
    font-size: 3rem;
    color: $lavender;
    display: inherit;
    justify-content: center;
  }
  &-options {
    display: inherit;
    justify-content: center;
    flex-wrap: wrap;
  }
  .actions {
    .next-btn {
      background: $lavender;
      color: $white;
      font-weight: 500;
      width: 30%;
      margin: auto;
      padding: 10px 30px;
    }
  }
}
