$lavender: #bdc0e1;
$vitamino: #ddb7b6;
$blonde: #93a0d4;
$silver: #898584;
$pro: #dc5f7d;
$absolute: #d1a779;
$inforcer: #d9604f;
$liss: #c088b7;
$nutrifier: #d28b3b;
$volumetry: #5fb496;
$white: #ffffff;
