@import "../../styles/colors.scss";
$card-size: 6rem;
.choice-card {
  width: $card-size;
  flex-direction: column;
  text-align: center;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 2px solid;
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1px;
  border: 3px solid $lavender;
  &-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  &-label {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: black;
  }
}
.selected {
  background-color: whitesmoke;
}
