@import "../styles/mixins.scss";
@import "../styles/colors.scss";

@include screen("desktop") {
  .quiz-desktop-layout {
    width: 80vw;
    aspect-ratio: 16/9;
    .banner-left {
    }
    .banner-right {
      .quiz-question {
        font-size: 1.3rem;
      }
    }
  }
}
.quiz-desktop-layout {
  display: flex;
  aspect-ratio: 16/9;
  .banner-left {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .banner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: $lavender;
    text-align: center;
    .quiz-question {
      font-weight: 600;
      color: $white;
      font-size: 1.3rem;
    }
    .quiz-tagline {
      color: $white;
      font-size: 1.2rem;
    }
    .quiz-cta {
      margin-top: 1rem;
      font-weight: 700;
      color: $lavender;
      background-color: $white;
      padding: 0.5rem 1rem;
    }
  }
}

@include screen("mobile") {
  .quiz-desktop-layout {
    flex-direction: column;
    aspect-ratio: 9/12;
    .banner-right {
      flex: 1;
      .quiz-question {
        font-size: 2.1rem;
        margin: 0 2rem;
      }
      .quiz-tagline {
        font-size: 1.2rem;
        margin: 0 4rem;
        text-align: center;
      }
      .quiz-cta {
        font-size: 0.9rem;
      }
    }
  }
}
